.create-team {
}

.players {
	// .players__title
	&__title {
		font-weight: 700;
		font-size: 28px;
		line-height: 120%;
		letter-spacing: 0.05em;
		margin: 0px 0px 30px 0px;
		@media (max-width:1024px){
			font-size: 26px;
			margin: 0px 0px 25px 0px;
		}
	}
	// .players__items
	&__items {
		display: flex;
		@media (min-width: 1025px){
			&.active {
				flex-direction: column;
				.players__item {
					&:not(:last-child){
						margin: 0px 0px 40px 0px;
					}
				}
			}
		}
		@media (max-width:1024px){
			flex-direction: column;
		}
	}
	// .players__item
	&__item {
		flex: 0 1 50%;
		&:not(:last-child){
			margin: 0px 40px 0px 0px;
			@media (max-width:1024px){
				margin: 0px 0px 30px 0px;
			}
		}
	}
	// .players__form
	&__form {
	}
	// .players__name-team
	&__name-team {
		display: flex;
		align-items: center;
		margin: 0px 0px 20px 0px;
	}
	// .players__label-name
	&__label-name {
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
		margin: 0px 15px 0px 0px;
		@media (max-width:1024px){
			font-size: 22px;
		}
	}
	// .players__input-name
	&__input-name {
		height: 40px;
		background-color: #191919;
		padding: 0px 20px;
		font-size: 20px;
		color: #fff;
		flex: 0 1 55%;
		letter-spacing: 0.04em;
	}
	// .players__discribe
	&__discribe {
		margin: 0px 0px 20px 0px;
	}
	// .players__title-discribe
	&__title-discribe {
		font-weight: 600;
		font-size: 24px;
		line-height: 120%;
		margin: 0px 0px 5px 0px;
		@media (max-width:1024px){
			font-size: 22px;
		}
	}
	&__text-discribe {
		font-weight: 300;
		font-size: 22px;
		line-height: 120%;
		color: #c4c4c4;
		@media (max-width:1024px){
			font-size: 20px;
		}
	}
	// .players__list
	&__list {
	}
	// .players__buttons
	&__buttons {
	}
}

.list-players {
	// .list-players__header
	&__header {
		background-color: #121212;
		height: 70px;
		padding: 0px 20px;
		display: flex;
		align-items: center;
		&_delete {
			justify-content: space-between;
		}
		@media (max-width:1024px){
			height: 60px;
		}
	}
	// .list-players__title
	&__title {
		font-weight: 300;
		font-size: 24px;
		@media (max-width:1024px){
			font-size: 22px;
		}
	}
	// .list-players__searh
	&__searh {
		display: flex;
		align-items: center;
		flex: 1 1 auto;
		margin: 0px 0px 0px 20px;
	}
	// .list-players__input-searh
	&__input-searh {
		height: 36px;
		padding: 0px 20px;
		background-color: #191919;
		font-size: 20px;
		color: #fff;
		letter-spacing: 0.04em;
		flex: 1 1 auto;
		margin: 0px 15px 0px 0px;
		@media (max-width:1024px){
			height: 34px;
		}
	}
	// .list-players__label-search
	&__label-search {
		cursor: pointer;
		font-size: 30px;
		@media (max-width:1024px){
			font-size: 28px;
		}
	}
	// .list-players__del
	&__del{
		cursor: pointer;
		font-size: 30px;
		color: #fff;
		background-color: transparent;
		@media (max-width:1024px){
			font-size: 28px;
		}
	}
	// .list-players__add
	&__add{
		cursor: pointer;
		position: relative;
		width: 25px;
		height: 25px;
		background-color: transparent;
		&::before{
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
		}
		&::after{
			content: '';
			position: absolute;
			height: 100%;
			width: 2px;
			background-color: #fff;
			left: 50%;
			top: 0;
			transform: translate(-50%, 0);
		}
	}
	// .list-players__items
	&__items {		
		max-height: 250px;
		overflow-y: auto;
		overflow-x: hidden;
		@media (max-width:1024px){
			max-height: 200px;
		}
		&::-webkit-scrollbar {
			width: 4px;
		}
		&::-webkit-scrollbar-track {
			background-color: transparent;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $mainColor;
			&:hover {
				background-color: #ff5100;
			}
			&:active {
				background-color: #8b2f12;
			}
		}
		scrollbar-color: $mainColor transparent;
		scrollbar-width: thin;
	}
	// .list-players__item
	&__item {
		background: rgba(20, 20, 20, 0.65);
		height: 50px;
		&:not(:last-child) {
			border-bottom: 1px solid #121212;
		}
		@media (max-width:1024px){
			height: 40px;
		}
	}
	// .list-players__input
	&__input {
		display: none;
		&:checked + .list-players__label-checkbox {
			background-color: $mainColor;
		}
	}
	// .list-players__label-checkbox
	&__label-checkbox {
		font-weight: 600;
		font-size: 22px;
		cursor: pointer;
		transition: all 0.4s ease 0s;
		flex: 0 1 100%;
		padding: 0px 30px;
		height: 100%;
		display: flex;
		align-items: center;
		@media (max-width:1024px){
			font-size: 20px;
		}
	}
}
