//=========================================================GOOGLE-FONTS==================================================================//
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:regular&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700,800,900&display=swap&subset=cyrillic-ext");
//===========================================================================================================================//

//========================================================VARS===================================================================//
//===========SCSS-VARS==========
$mainColor: #fd7e09;

//===========CSS-VARS==========
:root {
	--vh: 1vh;
}
//===========================================================================================================================//

//==========================================================BODY=================================================================//
html {
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-track {
		background-color: #191919;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $mainColor;
		&:hover {
			background-color: #ff5100;
		}
		&:active {
			background-color: #8b2f12;
		}
	}
	scrollbar-color: $mainColor #191919;
	scrollbar-width: thin;
}
body {
	font-family: Montserrat;
	color: #fff;
	background-color: #191919;
	&.lock {
		overflow: hidden;
	}
	&.burger-lock {
		overflow: hidden;
	}
}
.wrapper {
	background: linear-gradient(90deg, rgba(66, 66, 66, 1) 0%, rgba(15, 15, 15, 1) 100%, rgba(15, 15, 15, 1) 100%) no-repeat;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
}
//===========================================================================================================================//

//===========================================================CONTAINER================================================================//
.container {
	max-width: 1140px;
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0px 20px;
	@media (max-width: 1550px) {
		max-width: 1010px;
	}
	@media (max-width: 479px) {
		padding: 0px 10px;
	}
}
//===========================================================================================================================//

//==========================================================IMPORT=================================================================//
// ============NULL-STYLE==================
@import "base/null";

// ============FONTS==================
@import "fonts/fonts";

// ============ICONS-FONT==================
@import "fonts/icons";

// ============BASE-STYLES==================
@import "base/base";

// ============COMPONENTS==================
@import "components/header";
@import "components/footer";
@import "components/aside";
@import "components/popup";
@import "components/pagging";

// ============PAGES==================
@import "pages/home";
@import "pages/chat";
@import "pages/members";
@import "pages/articles";
@import "pages/currentNews";
@import "pages/profile";
@import "pages/editProfile";
@import "pages/team";

//===========================================================================================================================//
